* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* size in rem */

body {
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Header section  */

header {
  background: url("../image/header_background.svg");
  height: 80vh;
  width: 100%;
  background-size: 100%;
  text-align: center;
  padding-top: 7rem;
  font-family: Manky;
  font-size: 2.5rem;
  margin-bottom: 4.5rem;
}
.header_container {
  align-items: center;
}
.header_title {
  position: relative;
}
.header_sub_title {
  position: relative;
  font-family: "PantonRustScrSmBold-Gr";
  margin: 2rem;
  text-decoration: underline;
}
.header_btn {
  height: 4rem;
  display: inline-block;
  background-color: #646464;
  border: 2px solid #646464;
  font-style: normal;
  font-weight: normal;
  padding: 0.1rem 1rem;
  box-shadow: 3px 3px black;
  transition: all 0.1s ease-in-out;
}

.header_btn :hover {
  opacity: 0.6;
}

.whoami {
  color: #eeeeee;
}

@media screen and (max-width: 1000px) {
  header {
    background-size: 100%;
    text-align: center;
    padding-top: 10rem;
    font-family: Manky;
    font-size: 2rem;
  }
  .header_sub_title {
    position: relative;
    font-family: "PantonRustScrSmBold-Gr";
    margin: 2rem;
    text-decoration: underline;
  }

  .header_btn {
    height: 3rem;
    display: inline-block;
    background-color: #646464;
    border: 2px solid #646464;
    font-style: normal;
    font-weight: normal;
    padding: 0.2rem 1rem;
    box-shadow: 3px 3px black;
    transition: all 0.1s ease-in-out;
  }

  .header_btn :hover {
    opacity: 0.6;
  }
}

@media screen and (max-width: 650px) {
  header {
    background: url("../image/header_background.svg");
    height: 80vh;
    width: 100%;
    background-size: 100%;
    text-align: center;
    padding-top: 10rem;
    font-family: Manky;
    font-size: 1.2rem;
  }

  .header_sub_title {
    position: relative;
    font-family: "PantonRustScrSmBold-Gr";
    margin: 1.5rem;
    text-decoration: underline;
  }
  .header_btn {
    margin-top: 8rem;
    height: 2rem;
    display: inline-block;
    background-color: #646464;
    border: 2px solid #646464;
    font-style: normal;
    font-weight: normal;
    padding: 0.2rem 1rem;
    box-shadow: 3px 3px black;
    transition: all 0.1s ease-in-out;
  }

  .header_btn :hover {
    opacity: 0.6;
  }
}

/* Nav Section */

#navbar {
  overflow: hidden;
  position: sticky;
  background-color: #2f2f2f;
  height: 60px;
  width: 85%;
  margin: 0 auto;
  border-radius: 5px;
}

.logo {
  color: white;
  padding: 0 2rem;
  line-height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  float: right;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 10px;
}

nav ul li a {
  color: white;
}

nav a:hover {
  cursor: pointer;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  display: none;
}
#check {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/*

.sticky + .content {
  padding-top: 60px;
}
*/
@media screen and (max-width: 1000px) {
  .logo {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  #navbar {
    position: fixed;
    border-radius: 0px;
    width: 100%;
    top: 0;
  }
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 3.7rem;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 10%;
  }

  nav ul li a {
    left: -100%;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* About Section */

.title_tag {
  position: relative;
  width: 100%;
  text-align: center;
  height: 64px;
  font-family: "Sinethar";
  font-weight: 500;
  line-height: 64px;
  background-color: transparent;
}

.under_line_decoration {
  width: 100px;
  height: 1px;
  background: black;
  transition: width 2s;
}

#about h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20%;
  left: 40%;
  right: 40%;
  background-color: #a7a7a7;
  height: 2px;
  transition: all 400ms;
}

#about:hover h2::after {
  width: 50%;
  left: 25%;
  right: 25%;
}

.about_section {
  display: grid;
  margin: 0rem 3rem;
  background-color: #eeeeee;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "photo_area about_area";
  grid-gap: 1rem;
}

.photo_container {
  display: flex;
  grid-area: photo_area;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 0rem 0rem;
}

.image_style {
  border-radius: 10px;
  overflow: hidden;
}

.about_container {
  grid-area: about_area;
  padding: 1rem;
  margin-top: 15px;
  padding: 3rem;
  line-height: 2rem;
  background-color: #f2f2f2;
  border-radius: 2rem;
}

@media (max-width: 850px) {
  .about_section {
    display: grid;
    margin: 1.3rem;
    background-color: #eeeeee;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr;
    grid-template-areas:
      "photo_area"
      "about_area";
    grid-gap: 0.5rem;
  }
  .photo_container {
    grid-area: photo_area;
    padding: 0rem;
  }
  .about_container {
    grid-area: about_area;
  }
}

@media (max-width: 650px) {
  .about_section {
    display: grid;
    margin: 1rem;
    background-color: #eeeeee;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr;
    grid-template-areas:
      "photo_area"
      "about_area";
    grid-gap: 1rem;
  }
  .photo_container {
    grid-area: photo_area;
    padding: 0rem;
  }
  .about_container {
    grid-area: about_area;
  }
}

/* skill_section */

#skill h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20%;
  left: 40%;
  right: 40%;
  background-color: #a7a7a7;
  height: 2px;
  transition: all 400ms;
}

#skill:hover h2::after {
  width: 50%;
  left: 25%;
  right: 25%;
}

.skill_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 3rem;
  grid-template-areas:
    "skl1 skl2"
    "skl3 skl4";
  margin: 3rem;
}

.skl1 {
  grid-area: skl1;
  width: 80%;
  margin: auto;
}

.skl2 {
  grid-area: skl2;
  width: 80%;
  margin: auto;
}

.skl3 {
  grid-area: skl3;
  width: 80%;
  margin: auto;
}
.skl4 {
  grid-area: skl4;
  width: 80%;
  margin: auto;
}

.card_skill {
  height: 100%;
  background-color: #646464;
  min-width: 300px;
  max-width: 552px;
  display: flex;
  transition: all 0.3s;
  align-items: center;
  border-radius: 10px;
}

.card_skill:hover {
  transform: scale(1.03);
}

.card_skill_icon {
  height: 90px;
  width: 90px;
  overflow: hidden;
  margin: 0.5rem;
  border-radius: 10px;
  background: url("../image/skills.png");
}

.img_pixal1 {
  background-position: 0 0;
}
.img_pixal2 {
  background-position: 0 90px;
}
.img_pixal3 {
  background-position: 90px 0;
}
.img_pixal4 {
  background-position: 90px 90px;
}

.card_skill_text {
  text-align: center;
  margin-left: 5%;
  color: white;
}

@media screen and (max-width: 720px) {
  section .skill_section {
    margin: 1rem;
  }
  .skill_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    grid-template-areas:
      "skl1"
      "skl2"
      "skl3"
      "skl4";
  }

  .skl1 {
    grid-area: skl1;
    width: 100%;
  }

  .skl2 {
    grid-area: skl2;
    width: 100%;
    margin: auto;
  }

  .skl3 {
    grid-area: skl3;
    width: 100%;
    margin: auto;
  }
  .skl4 {
    grid-area: skl4;
    width: 100%;
    margin: auto;
  }
}

/*  project_section */

#project h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20%;
  left: 40%;
  right: 40%;
  background-color: #a7a7a7;
  height: 2px;
  transition: all 400ms;
}

#project:hover h2::after {
  width: 50%;
  left: 25%;
  right: 25%;
}

.card {
  width: 100%;
  height: 50rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.card .img1_layout {
  height: 50rem;
  width: 450;
  background-size: cover;
  position: relative;
}

.project_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "box2 box2 box1 box1 box1"
    "box3 box3 box1 box1 box1"
    "box4 box5 box6 box7 box8";
}

.box_layout1 {
  background-color: rebeccapurple;
  grid-area: box1;
}

.box_layout2 {
  background-color: red;
  grid-area: box2;
}

.box_layout3 {
  background-color: yellow;
  grid-area: box3;
}

.box_layout4 {
  background-color: orange;
  grid-area: box4;
}

.box_layout5 {
  background-color: green;
  grid-area: box5;
}

.box_layout6 {
  background-color: gray;
  grid-area: box6;
}

.box_layout7 {
  background-color: rgb(60, 86, 235);
  grid-area: box7;
}

.box_layout8 {
  background-color: rgb(184, 240, 56);
  grid-area: box8;
}

@media screen and (max-width: 1000px) {
  .project_section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "box2 box1 box1"
      "box2 box1 box1"
      "box3 box4 box4"
      "box3 box4 box4"
      "box5 box6 box7"
      "box8 box8 box8";
  }

  .box_layout1 {
    background-color: rebeccapurple;
    grid-area: box1;
    width: 100%;
    position: relative;
  }

  .box_layout2 {
    background-color: red;
    grid-area: box2;
    width: 100%;
  }

  .box_layout3 {
    background-color: yellow;
    grid-area: box3;
    width: 100%;
  }

  .box_layout4 {
    background-color: orange;
    grid-area: box4;
    width: 100%;
  }

  .box_layout5 {
    background-color: green;
    grid-area: box5;
    width: 100%;
  }

  .box_layout6 {
    background-color: gray;
    grid-area: box6;
    width: 100%;
  }

  .box_layout7 {
    background-color: rgb(60, 86, 235);
    grid-area: box7;
    width: 100%;
  }

  .box_layout8 {
    background-color: rgb(184, 240, 56);
    grid-area: box8;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .project_section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4"
      "box5"
      "box6"
      "box7"
      "box8";
  }

  .box_layout1 {
    background-color: rebeccapurple;
    grid-area: box1;
    width: 100%;
  }

  .box_layout2 {
    background-color: red;
    grid-area: box2;
    width: 100%;
  }

  .box_layout3 {
    background-color: yellow;
    grid-area: box3;
    width: 100%;
  }

  .box_layout4 {
    background-color: orange;
    grid-area: box4;
    width: 100%;
  }

  .box_layout5 {
    background-color: green;
    grid-area: box5;
    width: 100%;
  }

  .box_layout6 {
    background-color: gray;
    grid-area: box6;
    width: 100%;
  }

  .box_layout7 {
    background-color: rgb(60, 86, 235);
    grid-area: box7;
    width: 100%;
  }

  .box_layout8 {
    background-color: rgb(184, 240, 56);
    grid-area: box8;
    width: 100%;
  }
}
